@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap')

// variables
$title: #090410
$subtitle: #F6F0FA
$text: #09050F

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: "Cairo", sans-serif
    font-size: 16px
