@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap')

// variables
$title: #163150
$subtitle: #BE93DC
$text: #09050F
$btn: #4F88CF
$white-clr: #fff
$spacing: 1.2px

*
    margin: 0
    padding: 0
    box-sizing: border-box

a
    text-decoration: none

body
    font-family: "Cairo", sans-serif
    font-size: 16px
