.container
    display: flex
    align-items: center

    .login-img
        width: 500px

    .login-section
        padding: 2rem

        .title
            font-weight: 600
            font-size: 2rem
